
// Polaris
@import '~@shopify/polaris/styles.css';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~summernote/dist/summernote-bs4.css';

body {
  background-color: #eaf6ec;
}

#app {
  min-height: 100%;
  height: 100%;
}

#nav-top {
  height: 40px;
}

#wrapper {
  margin-top: 40px;
  margin-left: 0px;
  margin-right: auto;
  height: 100%;
}

.content {
  margin-top: 45px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#nav-employee, #nav-admin {
  text-decoration-color: #fff;
}

.card {
  margin-top: 60px;
}

.card-header {
  color: white;
  background-color: #5ebd74;
}

.card-title {
  font-size: 2.0em;
}

.bg-green {
  background-color: #28a745;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

$theme-colors: map-remove($theme-colors, "primary");

$theme-colors: (
  "primary": #28a745
);

.danger {
  border-color: #DE3618;
  color: #DE3618;
  background-color: #DE3618 !important;
}

.danger:hover {
  border-color: #BF0711;
}

.note-editor.note-frame {
  margin-top: 0px;
}

.employee-card {
  padding: 10px;
}

// Polaris ¿?
.Polaris-Button > i {
  margin-right: 5px;
}